<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cylbot">
  <!-- Gazebo-customization elements -->
  <xacro:include filename="$(find cylbot_description)/urdf/cylbot_base.gazebo"/>

  <xacro:include filename="$(find cylbot_description)/urdf/cylbot_base.urdf" />
  <xacro:include filename="$(find cylbot_description)/urdf/multisense_sl_v3.urdf" />

  <!--<link name="head"/>-->
</robot>
