<?xml version="1.0"?>
<model>
  <name>Bunch of Rooms</name>
  <version>1.0</version>
  <sdf version='1.4'>bunch_of_rooms.sdf</sdf>

  <author>
   <name>Devin Schwab</name>
   <email>digidevin@gmail.com</email>
  </author>

  <description>
    A simple building made with the building editor
  </description>
</model>
