<launch>
  <arg name="paused" default="false"/>
  <arg name="rviz" default="false"/>
  <arg name="rqt" default="false"/>
  <arg name="world_name" default="$(find cylbot_gazebo)/worlds/cylbot.world"/>
  <arg name="no_spinning" default="false"/>

  <!-- Load the URDF into the robot_description param. This is required for RVIZ and other tools to function -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find cylbot_description)/robots/cylbot.urdf.xacro'" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
	<arg name="verbose" value="1"/>
	<arg name="paused" value="$(arg paused)"/>
    <!-- more default parameters can be changed here -->
  </include>

  <include file="$(find cylbot_gazebo)/launch/multisense_sl.launch"/>

  <include file="$(find cylbot_control)/launch/cylbot_control.launch"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <!-- publish a static tf for the caster wheel. This is just to make ROS happy -->
  <node name="caster_z_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link front_caster_holder 50" />
  <node name="caster_holder" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 front_caster_holder front_caster 50" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model cylbot -z .4" />

  <group if="$(arg rviz)">
	<node name="rviz" pkg="rviz" type="rviz" />
  </group>

  <group if="$(arg rqt)">
	<node name="rqt" pkg="rqt" type="rqt" />
  </group>

  <group if="$(arg no_spinning)">
	<node name="tilt_pub" pkg="rostopic" type="rostopic" args="pub /cylbot/head_tilt_position_controller/command std_msgs/Float64 '{data: 0.0}'"/>
	<node name="spin_pub" pkg="rostopic" type="rostopic" args="pub /multisense/set_spindle_speed std_msgs/Float64 '{data: 0.0}'"/>
  </group>
</launch>
