<launch>
  <param name="/atlas_version" value="3" type="int"/>

  <!-- joint states to tf -->
  <node pkg="robot_state_publisher" type="state_publisher" name="multisense_sl_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  <!--  <node pkg="tf" type="static_transform_publisher" name="hokuyo_link_tf" args="0 0 0 0 0 0 head hokuyo_link 50"/>-->

  <!-- TF Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" output="log">
    <param name="buffer_size" value="1200.0"/>
  </node>

  <!-- Stereo image processing -->
  <node ns="multisense_sl" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="log">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="false"/>
  </node>

</launch>
